# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log
node_modules
public/swagger-ui
/local/
/cronCommands
/clearSolr_local.sh
/cronRestart.sh
/sudoCronCommands
/importFiles.sh
/ftpSirsi.sh
/mrc/
/themes/txwes/
/nbproject/